@model List<Aluno>

@if (TempData["MsgErro"] != null)
{
    <div class="alert-danger">
        @TempData["MsgErro"]
    </div>
}

@if (TempData["MsgAcerto"] != null)
{
    <div class="alert-warning">
        @TempData["MsgAcerto"]
    </div>
}

@if (ViewData["MsgErro"] != null)
{
  <div class="alert-danger">
      @ViewData["MsgErro"]
  </div>
}

@if (ViewData["MsgAcerto"] != null)
{
    <div class="alert-warning">
        @ViewData["MsgAcerto"]
    </div>
}

<table class="table">
    <div class="text-center">
        <h1 class="display-4">Alunos Registrados</h1>
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Matricula</th>
            <th scope="col">CEP</th>
        </tr>
    </thead>
    <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (Aluno aluno in Model)
                {
                <tr>
                    <td> @aluno.nome</td>
                    <td> @aluno.idade</td>
                    <td> @aluno.matricula</td>
                    <td> @aluno.cep</td>



                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <a type="submit" class="btn btn-success" role="button" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="@aluno.cep">Endereco</a>
                        </div>
                    </td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="Editar" asp-route-id="@aluno.id">Editar</a>
                        </div>
                    </td>

                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <a type="submit" class="btn btn-danger" role="button" asp-controller="Aluno" asp-action="ApagarConfirmacao" asp-route-id="@aluno.id">Excluir</a>
                        </div>
                    </td>
                </tr>



                }
            }
    </tbody>
</table>


<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <a class="btn btn-primary" role="button" type="button" asp-controller="Aluno" asp-action="Criar">Adicionar</a>
</div>


<div id="img-sla">
    <img src="~/img/roxo.jpg" alt="Roxo">
</div>
